/* colors used in doc

 color: #072ac8;
 color: #43d2ff;
 color: #a2d6f9;
 color: #d1edff;
 color: #292e47;
 color: #6b708d;
 color: #f2f4fc;
 color: #ecf7ff;
 color: #ffc600;
*/

*,
html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: #f2f4fc;
}

header {
  padding: 40px 80px 0px 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header img {
  max-width: 60px;
  height: auto;
}

.nav-bar {
  max-width: 700px;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  list-style-type: none;
  font-size: 15px;
  position: static;
  gap: 3rem;
}

.nav-bar li a {
  text-decoration: none;
  color: #6b708d;
}

#project {
  color: #072ac8;
  font-weight: bold;
}

.button {
  background-color: #072ac8;
  color: #ecf7ff;
  padding: 8px 20px;
  border: none;
  font-size: 15px;
  display: block;
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

.first-section {
  padding: 0px 80px 80px 80px;
}

.first-section h1 {
  padding-top: 49px;
  margin: 0 0 30px 0;
  font-size: 25px;
  color: #292e47;
}

.first-section h2 {
  font-size: 15px;
  color: #6b708d;
}

.first-section-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

#image {
  width: 100%;
  height: 500px;
  margin: 40px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-position: left;
}
#completed_on {
  font-size: 10px;
  color: #6b708d;
}

#content {
  font-size: 17px;
  color: #6b708d;
}

.title-other-projects {
  padding: 80px 80px 20px 80px;
  font-size: 20px;
  color: #292e47;
}

.boxes {
  padding: 0px 80px 80px 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-box {
  width: 350px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
}
.main-box:last-child {
  margin-right: 0; /* deletes right margin of the last box */
}

.main-box img {
  width: 100%;
  height: 250px;
}

.main-box h3 {
  padding: 20px 30px 20px 30px;
  color: #292e47;
  font-size: 20pxpx;
}

.main-box h4 {
  padding: 0 30px 60px 30px;
  color: #6b708d;
  font-size: 17px;
}

.learn {
  padding: 20px 30px 20px 30px;
  color: #072ac8;
  font-size: 12px;
}

.yellow-background {
  background-color: #ffc600;
  max-width: 100vw;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0px 100px 0px 100px;
  margin: 30px 20px;
}

.yellow-background h2 {
  color: #292e47;
  margin-top: 10vh;
}

.yellow-background p {
  color: #292e47;
  margin-bottom: vh;
}

.mail-button {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

input[type="email"] {
  font-size: 10px;
  color: #292e47;
  width: 50vh;
  padding: 15px;
  border: none;
  background-image: url(../resources/newsletter/icon/mail.svg);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: 15px center;
  text-indent: 20px;
}

.suscribe-button {
  background-color: #072ac8;
  color: #ecf7ff;
  padding: 15px 30px;
  border: none;
  font-size: 10px;
  display: inline-block;
  margin-left: 10px;
}
.footer {
  padding: 30px 80px 50px 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-side-footer {
  color: #6b708d;
  font-size: 10px;
}

.left-side-footer img {
  padding-bottom: 20px;
}

.right-side-footer {
  font-size: 10px;
  color: #6b708d;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  list-style-type: none;
  justify-items: start;
  align-items: end;
  align-content: space-between;
}

/* For screens iPhone 375px x 667px */

@media screen and (max-width: 480px) {
  
header {
  padding: 15px 30px 15px 30px;
background-color:rgba(255, 255, 255, 0.57);
justify-content: space-between;
align-items: center;
}
 
header img {
  max-width: 45px;
  height: auto;
}

.nav-bar {
  font-size: 12px;
  gap: 1rem;
}

.button {
  padding: 3px 10px;
  border: none;
  font-size: 11px;
 
}
  .first-section {
    padding: 0 30px 0px 30px;
  }

  #image {
    height: 150px;
  }

  #content {
    font-size: 11px;
  }

  .title-other-projects {
    padding: 30px 30px 30px 30px;
    font-size: 14px;
  }

  .boxes {
    padding: 0 30px 0px 30px;
    flex-direction: column;
  }

  .main-box {
    width: 100%;
    margin: 0 0 20px 0;
  }

  .main-box:last-child {
    margin-bottom: 0;
  }

  .main-box-box img {
    width: 100%;
    margin: 0 0 20px 0;
    padding: 0 30px 0px 30px;
  }

  .main-box h3 {
    font-size: 18px;
  }

  .main-box h4 {
    font-size: 14px;
  }

  .learn {
    font-size: 10px;
  }

    .yellow-background {
      padding: 30px 30px 30px 30px;
      height: 250px;
  
    }
  
    .yellow-background h2 {
      font-size: 19px;
      margin-top: 5px;
    }
  
    .yellow-background p {
      padding: 10px;
    }
  
    .mail-button {
      flex-direction: column;
      align-items: center;
      padding-top: 5px;
      margin: 20px 0;
    }
  
    input[type="email"] {
      width: 100%;
      font-size: 14px;
      margin-bottom: 10px;
    }
  
    .suscribe-button {
      font-size: 14px;
      margin-bottom: 30px;
    }
  
    .footer {
      padding: 0px 30px 30px 30px;
    }
  
    .left-side-footer {
      max-width: 40%;
    }
  
    .left-side-footer p {
      font-size: 11px;
    }
  
    .right-side-footer {
      font-size: 11px;
      grid-template-columns: 0.8fr 0.8fr 0.8fr;
    }
  }
  